/*html {*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*}*/

body{
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 100%;
}
/*#authorized_user{*/
/*    width:100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height:8%;*/
/*    position:fixed;*/
/*    top:0;*/
/*    background: rgba(0, 0, 0, 0.3);*/
/*    z-index: 2000;*/
/*}*/
/*#authorized_user > .flex-item {*/
/*    flex: auto;*/
/*}*/
/*p{*/
/*    color: blanchedalmond;*/
/*}*/
/*#bgSound{*/
/*    padding-right: 10vw;*/
/*}*/
/*#prompt{*/
/*    height: 150px;*/
/*    width: 100%;*/
/*    font-family: 'BancoDi', fantasy;*/
/*    font-size: 60px;*/
/*    text-align: center;*/
/*    color: rosybrown;*/
/*    padding: 80px 0px 0px 0px;*/
/*}*/
/*#slideShow{*/
/*    position: relative;*/
/*    height: 25vw;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
/*#slides {*/
/*    position: relative;*/
/*    height: 25vw;*/
/*    margin: 0 auto;*/
/*    list-style-type: none;*/
/*}*/

/*.slide {*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 20vw;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    opacity: 0;*/
/*    z-index: 0;*/
/*    transition: opacity 1s;*/
/*}*/

/*.showing {*/
/*    position: relative;*/
/*    opacity: 1;*/
/*    z-index: 1;*/
/*}*/


/*.controls {*/
/*    background: #333;*/
/*    color: #fff;*/
/*    border: none;*/
/*    padding: 20px;*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*    border: 2px solid #fff;*/
/*    margin: 10px;*/
/*    width: 70px;*/
/*    z-index: 1;*/
/*}*/

/*.controls:hover,*/
/*.controls:focus {*/
/*    background: #eee;*/
/*    color: #333;*/
/*}*/
/*@font-face {*/
/*    font-family: BancoDi; !* Имя шрифта *!*/
/*    src: url(../fonts/BancoDi.ttf); !* Путь к файлу со шрифтом *!*/
/*}*/
/*@font-face {*/
/*    font-family: d_Charger; !* Имя шрифта *!*/
/*    src: url(../fonts/d_Charger.otf); !* Путь к файлу со шрифтом *!*/
/*}*/

/*#start {*/
/*    display: block;*/
/*    padding: 10px 30px;*/
/*    margin: 10px auto;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    border: 2px solid #fe6637;*/
/*    border-radius: 8px;*/
/*    font-family: 'd_Charger', fantasy;*/
/*    font-size: 30px;*/
/*    color: #fe6637;*/
/*    transition: .2s ease-in-out;*/
/*}*/

/*#start:before {*/
/*    content: "";*/
/*    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    position: absolute;*/
/*    top: -8px;*/
/*    left: -75px;*/
/*    transform: skewX(-45deg);*/
/*}*/

/*#start:hover {*/
/*    background: #fe6637;*/
/*    color: #fff;*/
/*}*/

/*#start:hover:before {*/
/*    left: 80%;*/
/*    transition: .5s ease-in-out;*/
/*}*/
